registry=http://nexus.lab.biss.hr/repository/npm-group/
//nexus.lab.biss.hr/repository/npm-snapshots/:_authToken=NpmToken.e97993d4-0f26-3fca-927c-430437420c27
always-auth = true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=AF57E962-6D4A-4255-A95F-98171A703A39