@import "@/styles/quasar.scss";

.b-form-row {
    @media (max-width: $breakpoint-lg-min) {
        .label {
            margin-bottom: 0.5rem;
            justify-content:start;
            padding-bottom: 0;
            line-height: initial;
        }
    }

    .row-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        line-height: 3;
    }

    .q-field--with-bottom {
        padding-bottom: 0;
    }

    margin-bottom: 2rem;
}