<div class="users">
    <div class="flex flex-center">
        <div class="fit row wrap justify-center">
            <div class="col-12">
                <q-card>
                    <q-item>
                        <q-item-section>
                            <div class="fit row">
                                <div class="col-6">
                                    <div class="text-h6">{{$t("examples.title")}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="row justify-end q-gutter-xs">
                                        <q-btn unelevated no-caps icon="fal fa-search" :label="$t('general.search')"></q-btn>
                                        <q-btn unelevated no-caps icon="fal fa-plus" :label="$t('general.create')" color="primary"></q-btn>
                                    </div>
                                </div>
                            </div>
                        </q-item-section>
                    </q-item>
                    <q-separator color="primary" />
                    <q-item>
                        <q-item-section>

                        </q-item-section>
                    </q-item>
                </q-card>
            </div>
        </div>
    </div>
</div>